  *{
            margin: 0;
            padding: 0;
        }
        .box1{
            background-color: aqua;
            /* position: sticky;
            margin: 0;
            padding: 0;
            top: 0px;
            height: 111px;
            width: 100%; */
            position: absolute;
        }
        .box2{
            background-color: antiquewhite;
            position: relative;
            top: 34px;
            left: 56px;
        }
        .box3{
            background-color: blue;
            position: fixed;
            left: 25vw;
            bottom: 0px;
        }
        .box4{
            background-color: blueviolet;
        }
        .box{
            height: 133px;
            width: 80vw;
            padding: 3px;
            margin: 3px;
            border: 2px solid black;
        }
        .parent{
            padding: 43px;
            margin: 34px;
            border: 3px solid purple;

        }