 *{
            margin: 0;
            padding: 0;
        }
.box{
    border: 2px solid blue;
    display: inline-block;
    margin: 45px;
    width: 344px;
    padding: 45px;
    /* display: none; */
}